@charset "utf-8";
/* CSS Document */
body{
	padding:0px;
	margin:0;
	background: #e9eaeb;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
	background: #e9eaeb;

}

.grid-item {
  width: 172px;
  padding-right: 30px;
	padding-left: 20px;
  margin-bottom: 50px;
	

}
.heading {
	width:85%;
	margin:0 auto;
	padding-bottom: 40px;
	padding-top: 30px;
}
.wrapper {
  background: #e9eaeb;
  font-family: 'Roboto', sans-serif;
  text-align: left;
	color:#666;
}
.grid-item figure {
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
}
.grid-item figure img {
  display: block;
  max-width: 100%;
}
.grid-item figcaption {
  padding: .625rem .5rem;
  background: #fff;
	color:#000;
}
.par {
	text-align: justify;
	color:#000;
	width:88%;
}

@media screen and (min-width : 481px) and (max-width : 768px) {
	.heading {
		font-size:20px;
		width:90%;
	}
	.grid-item {
		 width: 22%;
 
}
	
	.grid {
		margin-left: 10px;
  display: flex;
 flex-wrap:wrap;
		flex-direction: row;
		justify-content: flex-start;
	}
	.par {
		width:90%;
		margin: 0 auto;
	}
}
@media screen and (min-width : 601px  ) and (max-width : 962px) {
	.heading {
		width:96%;

	}
	.grid {
		margin-left: 30px;
	}
	.grid-item {
		 width: 25%;
 
}
}
@media screen and (min-width : 769px  ) and (max-width : 1024px) {
	.heading {
		width:96%;

	}
	.grid-item {
		 width: 15%;
 
}
.grid {
  display: flex;
 flex-wrap:wrap;
	background: #e9eaeb;
		flex-direction: row;
		justify-content: flex-start;
	}

.par {
	width:95%;
	margin: 0 auto;
	text-align: justify;
}
	}
	
@media screen and (min-width : 1025px ) and (max-width : 1200px) {
	.heading {
		width:94%;
	}
}
